* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0000CC;
    color: white;
}

.bold {
    font-weight: bold;
}

.underscore {
    text-decoration: underline;
}

a {
    color: white;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

.screenshot {
    width: 100%;
    object-fit: contain;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.screenshots_images {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.screenshots_images div {
  width: 100%;
  max-width: 640px;
}

header, main, footer {
    margin: 2rem;
} 

.screenshots, .instructions {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

